# =========================
# Backend (C# .NET)
# =========================
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.cache
*.db
appsettings*.json   # exclude secrets

# =========================
# Frontend (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# =========================
# Database
# =========================
database/*.bak
