# =========================
# Backend (C# .NET)
# =========================
**/bin/
**/obj/
**/.vs/
*.user
*.suo
*.cache
*.db
/backend/CateringNutrition/CateringNutrition.API/appsettings.json
/backend/CateringNutrition/CateringNutrition.API/appsettings.Development.json

# =========================
# Frontend (Angular)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/.vscode/

# =========================
# Database
# =========================
database/*.bak
